p.hitam{
	color: white;
}

.kanan{
	float: right;
}

hr.onepixel {
    border-top: 1px solid #afbcc6;
    border-bottom: 1px solid #eff2f6;
    height: 0px;
    margin-bottom: 20px;
}

footer .footer-content ul.endfooter { margin-bottom: 0px; float:right;}

.photos1{
	float :left;
	width: 50%;
}

.photos2{
	float :right;
	width: 50%;
}

.zoom {
	list-style-type: none;
}

.zoom li {
	float: none;
}

.zoom img{
	/*display: block;*/
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
display: inline;
}
.zoom img:hover{
-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-o-transform:scale(1.5);
opacity: 1;
}

article iframe {
	float: left;
	margin: 10px;
}

.video{
	list-style-type: none;
}
