.header {
    border-top: 1px solid lightgrey;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    background-image: url(img/img1.jpg);
}
.carousel-item.active>h1,.lead{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#navbar {
    overflow: hidden;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: yellowgreen;
    color: black;
  }
  
 .navbar-collapse>.active:hover {
    background-color: #4CAF50;
    color: yellowgreen;;
  }
  
  .content {
    padding: 16px;
  }
  

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: #0c631b;
}

.intro {
    margin: 12em 0;
}

.header a {
    color: #fff;
}

.header>.overlay, .video>.overlay {
    background: rgba(49, 29, 64, 0.5);
    min-height: 60vh;
}

.overlay {
    color: #fff;
    overflow: hidden;
    background: rgba(192,192,192,0.2);
}

.btn,
.btn:hover {
    text-transform: uppercase;
    transition: 0.3s;
    border-color: #00e0d0;
}

.btn:hover {
    background-color: #00e0d0;
    color: black;
}

.collapse ul li {
    font-size: 12px;
    font-style: bold;
    font-family: 'Roboto';
    display: block;
    position: relative;
    padding-left: 2.2rem;
    margin: -12px;
}

body {
    font-family: 'Roboto';
    font-size: 14px;
    margin: 0;
}

.intro h1 {
    font-family: 'Myriad Pro';
    font-size: 51px;
}

.navbar-expand-md {
    background-color: black;
    opacity: 0.7;
}

.navbar-extra-top {
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.icon ul li {
    margin: -14px;
}

.puth {
    border-left: 1px solid white;
}

.icon ul li a :hover {
    border-top: 1px solid yellowgreen;
}

.atas {
    border-bottom: 1px solid white;
}

/* slider */
#slider-home .carousel-indicators {
    position: relative;
    top: 1rem;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

/* content */
.card.ero {
    min-height: 15vh;
}
.row {
    margin-left: 70px;
    margin-right: -10px;
    }
.card {
    position: center;
    background-size: cover;
    line-height: 2;
    min-height: 45vh;
}
.card-img-top {
    position: cover;
    max-height: 120px;
}
.card-body {
    padding: 1rem;
}
.regular {
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.container {
    max-width: 1280px;
}
.title-row {
    line-height: 48px;
    padding: 0 0 24px;
    vertical-align: bottom;
}
.title-entry {
    display: inline-block;
    font-size: 20px;
    line-height: 45px;
    font-weight: 700;
    margin: 0;
    padding: 0 2rem 0 0;
    text-transform: uppercase;
    vertical-align: bottom;
}
.event h1 {
    font-size: 26px;
}
.jarak {
    padding-left: 39px;
    padding-top: 65px;
}

.btn.btn-xs {
    padding-bottom: 5px;
    font-size: 11px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px; 
}
.entry-meta {
    background:#363c48;
    color:#ffffff;
    font-size: 13px;
    line-height: 1rem;
    padding:1rem;
    margin-bottom: 0;
}

.entry-title {
    position: absolute;
    bottom : 0;
    color: #ffffff;
    font-size: 23px;
    width: 100%;
    padding: 2rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.video1 {
    border-top: 1px solid grey;
    background-image: url(img/DSC_0142.jpg);
    background-size: cover;
    overflow: hidden;
    text-align: center;
    height: 500px;
}
.btn-play {
    padding: 12rem;
}
.btn-play a:hover {
    color: yellow;
}
.content .col-md {
    background-position: center center;
    background-size: cover;
    padding: 8rem 5rem;
    line-height: 2;
    min-height: 100vh;
  } 
.content {
    padding-right: 5rem;
}
/*footer*/
.sub-footer {
    padding: 2rem 0;
}
.footer {
    padding: 1rem;  
}


.bawah a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

